<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>ScadPreview</string>
  <key>CFBundleExecutable</key><string>ScadPreview</string>
  <key>CFBundleIdentifier</key><string>com.greegus.ScadQuickLook.Preview</string>
  <key>CFBundlePackageType</key><string>XPC!</string>
  <key>CFBundleShortVersionString</key><string>0.1</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>NSExtension</key>
  <dict>
    <key>NSExtensionPointIdentifier</key><string>com.apple.quicklook.preview</string>
    <key>NSExtensionPrincipalClass</key><string>ScadPreview.PreviewViewController</string>
    <key>NSExtensionAttributes</key>
    <dict>
      <key>QLSupportedContentTypes</key><array><string>org.openscad.scad</string></array>
      <key>QLSupportsSearchableItems</key><false/>
    </dict>
  </dict>
</dict>
</plist>
